body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #FF4900;
    color: #FFBEA4;       
}

.help-page h1,
.help-page h2,
.help-page .h2,
.help-page h3,
.help-page .h3,
#body.help-page,
.help-page-table th,
.help-page-table pre,
.help-page-table p {
    	 font-family: "Ubuntu";
	 font-weight: 400;
	 font-style: normal;	
    background-color: #FF4900;
    color: #FFBEA4; 
}

.help-page h1,
.help-page .h1{
        font-weight: 700;
	 font-style: normal;
	 font-size: 76px;
     line-height: 70px;
     color: #A72F00;
}


.help-page pre.wrapped {
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
}

.help-page .warning-message-container {
    margin-top: 20px;
    padding: 0 10px;
    color: #525252;
    background: #EFDCA9; 
    border: 1px solid #CCCCCC;
}

.help-page-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    margin: 0px 0px 20px 0px;
    border-top: 1px solid #D93E00;
}

.help-page-table th {
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid #D93E00;
    padding: 5px 6px 5px 6px;
}

.help-page-table td {
    border-bottom: 1px solid #D93E00;
    padding: 10px 8px 10px 8px;
    vertical-align: top;
}

.help-page-table pre,
.help-page-table p {
    margin: 0px;
    padding: 0px;
    font-family: inherit;
    font-size: 100%;
}

.help-page .sample-header {
    border: 2px solid #D4D4D4;
    background: #00497E;
    color: #FFFFFF;
    padding: 8px 15px;
    border-bottom: none;
    display: inline-block;
    margin: 10px 0px 0px 0px;
}

.help-page .sample-content {
    display: block;
    border-width: 0;
    padding: 15px 20px;
    background: #FFFFFF;
    border: 2px solid #D4D4D4;
    margin: 0px 0px 10px 0px;
}

.help-page .api-name {
    width: 40%;
}

.help-page .api-documentation {
    width: 60%;
}

.help-page .parameter-name {
    width: 20%;
}

.help-page .parameter-documentation {
    width: 40%;
}

.help-page .parameter-type {
    width: 20%;
}

.help-page .parameter-annotations {
    width: 20%;
}


.help-page h2,
.help-page .h2 {
    color: #FF9970;
    font-size: 24px;
}

.help-page h3,
.help-page .h3 {
    font-size: 20px;
}

#body.help-page {
      font-size: 18px;
    line-height: 143%;
}

.help-page a {
    color: #A72F00;
    text-decoration: none;
}

.navbar-inverse{
    background-color: #A72F00;
    color: #FFBEA4;
}

.navbar{
    min-height: 35px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-top: 3px;
}


/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=10f0u0kwi++bu++hX++++rd++kX */

/* Feel free to copy&paste color codes to your application */


/* As hex codes */

.color-primary-0 { color: #FF4900 }	/* Main Primary color */
.color-primary-1 { color: #FFBEA4 }
.color-primary-2 { color: #FF9970 }
.color-primary-3 { color: #D93E00 }
.color-primary-4 { color: #A72F00 }



/* As RGBa codes */

.rgba-primary-0 { color: rgba(255, 73,  0,1) }	/* Main Primary color */
.rgba-primary-1 { color: rgba(255,190,164,1) }
.rgba-primary-2 { color: rgba(255,153,112,1) }
.rgba-primary-3 { color: rgba(217, 62,  0,1) }
.rgba-primary-4 { color: rgba(167, 47,  0,1) }



/* Generated by Paletton.com © 2002-2014 */
/* http://paletton.com */
