@using System.Web.Http
@using System.Web.Http.Description
@using Sixeyed.BadApi.Web.Areas.HelpPage.Models
@using Sixeyed.BadApi.Web.Areas.HelpPage.ModelDescriptions
@model HelpPageApiModel

@{
    ApiDescription description = Model.ApiDescription;
}
<h1>@description.HttpMethod.Method @description.RelativePath</h1>
<div>
    <p>@description.Documentation</p>

    <h2>Request Information</h2>

    <h3>URI Parameters</h3>
    @Html.DisplayFor(m => m.UriParameters, "Parameters")

</div>