@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using System.Collections.ObjectModel
@using Sixeyed.BadApi.Web.Areas.HelpPage.Models
@model Collection<ApiDescription>

@{
    ViewBag.Title = "badapi.net";

    // Group APIs by controller
    ILookup<HttpControllerDescriptor, ApiDescription> apiGroups = Model.ToLookup(api => api.ActionDescriptor.ControllerDescriptor);
}

<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
<header class="help-page">
        <div class="row">
            <div class="col-md-2" style="min-width: 205px">
                <img src="~/Content/thumbs-down_200x170.png" alt="badapi.net" />
            </div>
            <div class="col-md-8" style="min-width: 400px">
                <h1>@ViewBag.Title</h1>
                <div class="row">
                    <div class="col-md-12">
                        <h3>badapi.net is a REST API with badly-behaved endpoints you can use for testing.</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="min-width: 267px">
                <a href="https://github.com/sixeyed/badapi.net"><img src="~/Content/GitHub_Logo-199x82.png" alt="Source hosted on GitHub" class="img-rounded bg-light"></a>
                <a href="https://www.getpostman.com/collections/f8351e64720d02b5f068"><img src="~/Content/postman-logo-250.png" alt="Postman client collection" class="img-rounded bg-light"></a>
                <a href="http://geekswithblogs.net/EltonStoneman/category/19292.aspx"><img src="~/Content/gwb-logo_261x82.png" alt="Blog posts" class="img-rounded bg-light"></a>
            </div>
</header>
<div id="body" class="help-page">
    <section class="content-wrapper main-content clear-fix">
        @foreach (var group in apiGroups)
        {
            <div class="row">
                <div class="col-md-12">
                    @Html.DisplayFor(m => group, "ApiGroup")
                </div>
            </div>
        }
    </section>
</div>
